<style>
    body{
        padding: 50px;
        font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
        background-image: url('/images/T4au985zC2-dronescaling5.gif');
    }

    a {
        text-decoration: none;
        color: black;
    }

</style>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/drones">Drones List</a>
